<%= form_for @core_article do |f| %>
    <% if @core_article.errors.any? %>
        <div id="errors">
          <h2><%= pluralize(@core_article.errors.count, "error") %> prevented this article from saving:</h2>
          <ul>
            <% @core_article.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <%= f.label :title %><br>
    <%= f.text_area :title, rows:'3' %><br>
    <br>
    <%= f.label :body %><br>

    <%= f.cktext_area :body, :class => "form-control" %><br>

    <br>
    <br>
    <%= f.submit class:'btn btn-default' %>
<% end %>

<style>
    textarea {
        width: 100%;
        padding: 1.5%;
    }
    select{
        padding: .6% 2%;
        border-radius: 5%;
        font-size: 1.3em;
    }
    select option{
        font-size: 1.3em;
    }
</style>