%div.articles_class_css
  %div.sidenav#mysidenav{style:'background-color: #f4f5f5; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);'}
    %ul.nav.nav-pills.nav-stacked
      %li= link_to 'All Articles', core_articles_path, class:'nav_btn'
      %li= link_to 'Breath Of Quran', core_article_path(:id=> CoreArticle.first, name:'breath_of_quran'), class:'nav_btn'
      - @core_articles.each do |article|
        %li= link_to article.title_keyword, article, class:'nav_btn'
      - if can? :create, CoreArticle
        %br
        = link_to 'New Article', new_core_article_path, class:'nav_btn'


  %div#main
    %div.row
      %div.col-md-2.col-sm-4.hidden-xs{style:'margin-top:0.8%;background-color: #f4f5f5; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);'}
        %ul.nav.nav-pills.nav-stacked{style:'padding-top:5%;'}
          %li= link_to 'All Articles', core_articles_path, class:'nav_btn'
          %li= link_to 'Breath Of Quran', core_article_path(:id=> CoreArticle.first, name:'breath_of_quran'), class:'nav_btn'
          - @core_articles.each do |article|
            %li= link_to article.title_keyword, article, class:'nav_btn justify'
          %br
          - if can? :create, CoreArticle
            = link_to 'New Article', new_core_article_path, class:'nav_btn', style:'margin-bottom:8%;'

      %div.col-md-10.col-sm-8.col-xs-12.mobile_view_w_100
        - if can? :create, CoreArticle
          = link_to 'New Article', new_core_article_path, class:'btn btn-default pull-right', style:'margin:1.7%;'
          %br
          %br
        %div.visible-xs
          %span{:style => "font-size:30px;cursor:pointer", id:'ooo'} ☰
          %span{:style => "font-size:40px;cursor:pointer;display:none;", id:'ccc'} &times;
        .container{style:'margin-top:2%;'}
          - @core_articles.each do |article|
            .panel.panel-default
              .panel-heading
                %h4.single_line
                  =link_to article.title, article
                %hr
                %p.date= article.created_at.strftime("%B %d, %Y")
              .panel-body
                .row
                  .col-sm-5.image_center
                    = image_tag article.image.url, class:'img-responsive thumbnail no_bottom'
                  .col-sm-7
                    %p.justify= article.short_description
              - if can? :edit, article
                .btn-group.btn-group-justified
                  %a.btn.btn-primary{:href => edit_core_article_path(article)} Edit
                  = link_to 'Delete', article, method: :delete, data: { confirm: 'Are you sure?' }, class:'btn btn-primary'