%div.articles_class_css
  %div.sidenav#mysidenav{style:'background-color: #f4f5f5; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);'}
    %ul.nav.nav-pills.nav-stacked
      %li= link_to 'All Articles', core_articles_path, class:'nav_btn'
      %li= link_to 'Breath Of Quran', core_article_path(:id=> CoreArticle.first, name:'breath_of_quran'), class:'nav_btn'
      - @core_articles.each do |article|
        %li= link_to article.title_keyword, article, class:'nav_btn'
      - if can? :create, Post
        %br
        = link_to 'New Article', new_core_article_path, class:'nav_btn'


  %div#main
    %div.row
      %div.col-md-2.col-sm-4.hidden-xs{style:'margin-top:0.8%;background-color: #f4f5f5; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);'}
        %ul.nav.nav-pills.nav-stacked{style:'padding-top:5%;'}
          %li= link_to 'All Articles', core_articles_path, class:'nav_btn'
          %li= link_to 'Breath Of Quran', core_article_path(:id=> CoreArticle.first, name:'breath_of_quran'), class:'nav_btn'
          - @core_articles.each do |article|
            %li= link_to article.title_keyword, article, class:'nav_btn'
          %br
          - if can? :create, Post
            = link_to 'New Article', new_core_article_path, class:'nav_btn', style:'margin-bottom:8%;'

      %div.col-md-10.col-sm-8.col-xs-12.mobile_view_w_100
        %div.visible-xs
          %span{:style => "font-size:30px;cursor:pointer", id:'ooo'} ☰
          %span{:style => "font-size:40px;cursor:pointer;display:none;", id:'ccc'} &times;
        #post_content.container
          - if @name == 'breath_of_quran'
            = render 'breath_of_quran'
          - else
            = render 'core_article'