<%= form_for @audio do |f| %>
    <% if @audio.errors.any? %>
        <div id="errors">
          <h2><%= pluralize(@audio.errors.count, "error") %> prevented this Audio from saving:</h2>
          <ul>
            <% @audio.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <%= f.label :title %><br>
    <%= f.text_area :title, rows:'1' %><br>
    <br>
    <%= f.label :body %><br>
    <%= f.text_area :body, rows:'10' %><br>
    <p>1) Upload Audio file to Google Drive</p>
    <p>2) Right Click on 'Get Shareable Link'</p>
    <p>3) Copy the text after id=</p>
    <p>for eg: "https://drive.google.com/open?id=<b>1RG6VXVqYjOdLYANNR5hplFw7gKnDqhhx</b>"</p>
    <%= f.text_field :url, placeholder:'URL (Only ID) ', class:'url' %><br><br>

    <%= f.text_field :rank, placeholder:'Rank (Any Integer)', class:'url' %>
    <br>
    <br>
    <%= f.collection_select :category_id, Category.where(section:'Audio'), :id, :name %>
    <br>
    <br>
    <%= f.submit class:'btn btn-default' %>
<% end %>
<br>

<style>
    textarea {
        width: 100%;
        padding: 1.5%;
    }

    input.url{
        width: 100%;
        padding: 1%;
    }

    select{
        padding: .6% 2%;
        border-radius: 5%;
        font-size: 1.3em;
    }
    select option{
        font-size: 1.3em;
    }
</style>
