<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @audio.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @audio.body %>
</p>

<p>
  <strong>Url:</strong>
  <%= @audio.url %>
</p>

<p>
  <strong>Category:</strong>
  <%= @audio.category_id %>
</p>

<p>
  <strong>Rank:</strong>
  <%= @audio.rank %>
</p>

<p>
  <strong>Highlight:</strong>
  <%= @audio.highlight %>
</p>

<%= link_to 'Edit', edit_audio_path(@audio) %> |
<%= link_to 'Back', audios_path %>
