%div.articles_class_css
  %div.sidenav#mysidenav{style:'background-color: #f4f5f5; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);'}
    %ul.nav.nav-pills.nav-stacked
      %li= link_to 'All Videos', videos_path, class:'nav_btn'
      - Category.where(section:'Video').order('rank').each do |cat|
        %li= link_to cat.name, videos_path(category_id: cat.id), class:'nav_btn'
      - if can? :create, Category
        %br
        = link_to 'Add Category', categories_path, class:'nav_btn'

  %div#main
    %div.row
      %div.col-md-2.col-sm-4.hidden-xs{style:'margin-top:0.8%;background-color: #f4f5f5; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);'}
        %ul.nav.nav-pills.nav-stacked{style:'padding-top:5%;'}
          %li= link_to 'All Videos', videos_path, class:'nav_btn'
          - Category.where(section:'Video').each do |cat|
            %li= link_to cat.name, videos_path(category_id: cat.id), class:'nav_btn'
          %br
          = link_to 'Add Category', categories_path, class:'nav_btn', style:'margin-bottom:8%;'


      %div.col-md-10.col-sm-8.col-xs-12.mobile_view_w_100
        %div.visible-xs
          %span{:style => "font-size:30px;cursor:pointer", id:'ooo'} ☰
          %span{:style => "font-size:40px;cursor:pointer;display:none;", id:'ccc'} &times;
        .container
          .panel.panel-default
            .panel-heading
              .embed-responsive.embed-responsive-16by9
                %iframe.embed-responsive-item{:src => "https://www.youtube.com/embed/#{@content.url[32..42]}"}
            .panel-body.video_text_spacing
              %h4= @content.title
              %hr
              %p= @content.body
          .btn-group.pull-right
            = social_share_button_tag("Good Article")
            = link_to like_video_path(@content), method: :put, class: "btn btn-default" do
              %span.glyphicon.glyphicon-heart
              = @content.get_upvotes.size
            - if can? :edit, @content
              =link_to 'Edit', edit_video_path(@content),class:'btn btn-default'
              =link_to 'Delete', video_path(@content), method: :delete, data: { confirm: 'Are you sure?' }, class:'btn btn-default'
          #post_content
            #comments
              %h2
                = @content.comments.count
                Comments
              = render @content.comments
              %h3 Add a comment:
              = render "comments/form"