%div.row
  %div.col-sm-2{style:'background-color: #f9f0e7;height:100vh'}
    = link_to 'All Videos', videos_path, class:'btn btn-primary', style:'display:block; margin: 1% 0%;'
    %ul.nav.nav-pills.nav-stacked
      - Category.where(section:'video').each do |cat|
        = link_to cat.name, videos_path(category_id: cat.id), class:'btn btn-primary', style:'display:block; margin: 1% 0%;'
      = link_to 'Add Category', categories_path, class:'btn btn-default', style:'display:block; margin: 1% 0%;'


  %div.col-sm-10
    .container
      .panel.panel-default
        .panel-heading
          .embed-responsive.embed-responsive-16by9
            %iframe.embed-responsive-item{:src => "https://www.youtube.com/embed/#{@content.url}"}
        .panel-body
          %h4= @content.title
          %hr
          %p= @content.body
      .btn-group.pull-right
        = link_to like_video_path(@content), method: :put, class: "btn btn-default" do
          %span.glyphicon.glyphicon-heart
          = @content.get_upvotes.size
        - if user_signed_in?
          =link_to 'Edit', edit_video_path(@content),class:'btn btn-default'
          =link_to 'Delete', video_path(@content), method: :delete, data: { confirm: 'Are you sure?' }, class:'btn btn-default'
      #post_content
        #comments
          %h2
            = @content.comments.count
            Comments
          = render @content.comments
          %h3 Add a comment:
          = render "comments/form"