%link{:href => "//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css", :rel => "stylesheet"}/
%script{:src => "https://code.jquery.com/ui/1.12.1/jquery-ui.js"}

%div{style:'background-color:#fafafa; padding: 1% 0 .2% 0;'}
  - if can? :edit, Misc
    %marquee{style:'font-size: 1.2em;color:#000;width:90%;'}= Misc.find_by_code('marquee').body
    = link_to 'Edit', edit_misc_path(id:1, code:'marquee'), class:'btn btn-default pull-right'
  - else
    %marquee{style:'font-size: 1.2em;color:#000;'}= Misc.find_by_code('marquee').body

#myCarousel.carousel.slide.hidden-xs{"data-ride" => "carousel"}
  %ol.carousel-indicators
    %li.active{"data-slide-to" => "0", "data-target" => "#myCarousel"}
    %li{"data-slide-to" => "1", "data-target" => "#myCarousel"}
    %li{"data-slide-to" => "2", "data-target" => "#myCarousel"}
    %li{"data-slide-to" => "3", "data-target" => "#myCarousel"}
    %li{"data-slide-to" => "4", "data-target" => "#myCarousel"}
    %li{"data-slide-to" => "5", "data-target" => "#myCarousel"}
  .carousel-inner
    .item.active
      = image_tag "slider6.jpg"
    .item
      = image_tag "slider2.jpg"
    .item
      = image_tag "slider1.jpg"
    .item
      = image_tag "slider4.jpg"
    .item
      = image_tag "slider5.jpg"
    .item
      = image_tag "slider3.jpg"
  %a.left.carousel-control{"data-slide" => "prev", :href => "#myCarousel"}
    %span.glyphicon.glyphicon-chevron-left
    %span.sr-only Previous
  %a.right.carousel-control{"data-slide" => "next", :href => "#myCarousel"}
    %span.glyphicon.glyphicon-chevron-right
    %span.sr-only Next

#myCarouselmin.carousel.slide.visible-xs{"data-ride" => "carousel"}
  %ol.carousel-indicators
    %li.active{"data-slide-to" => "0", "data-target" => "#myCarouselmin"}
    %li{"data-slide-to" => "1", "data-target" => "#myCarouselmin"}
    %li{"data-slide-to" => "2", "data-target" => "#myCarouselmin"}
    %li{"data-slide-to" => "3", "data-target" => "#myCarouselmin"}
    %li{"data-slide-to" => "4", "data-target" => "#myCarouselmin"}
    %li{"data-slide-to" => "5", "data-target" => "#myCarouselmin"}
  .carousel-inner
    .item.active
      = image_tag "slider_min_6.jpg"
    .item
      = image_tag "slider_min_2.jpg"
    .item
      = image_tag "slider_min_1.jpg"
    .item
      = image_tag "slider_min_4.jpg"
    .item
      = image_tag "slider_min_5.jpg"
    .item
      = image_tag "slider_min_3.jpg"
  %a.left.carousel-control{"data-slide" => "prev", :href => "#myCarouselmin"}
    %span.glyphicon.glyphicon-chevron-left
    %span.sr-only Previous
  %a.right.carousel-control{"data-slide" => "next", :href => "#myCarouselmin"}
    %span.glyphicon.glyphicon-chevron-right
    %span.sr-only Next


%div.container-fuild{style:'background-color: #fafafa;padding:2%;'}
  %div.row
    %div.col-md-4.col-xs-12.video
      %h2{style:'color:#000; font-family:cursive;'} Founder's Message:
      %br
      %div{style:'position: relative; height: 0; padding-bottom: 73.5%;'}
        %iframe{:align => "middle", :src => "https://www.youtube.com/embed/y9nZuLZYBLI", allowfullscreen:'true', style:'position: absolute; width: 100%; height: 100%;', protocol:'https'}
    %div.col-md-8.col-xs-12.who_we_are
      %h2 What is Remembering Allah?
      %p The world today is seeing the worst of humanity. Not only individuals, but communities and countries are in crisis-political, social, as well as spiritual.  As a result we find ourselves wandering in search of peace, harmony and unity like never before. We wander to find solutions, we wander to seek answers, we wander to make things better but most often we end up seeing more extremism, more hatred, more animosity, blindness and ignorance. In a culture of widespread consumerism, we are not only mindlessly consuming things but also ideas. While it has never been wrong to adhere to or follow ideas it is the mindless consumption that is the issue. We are living in tragic times where we hardly spend any time in meditating upon, thinking and evaluating what we are consuming.
      %p Remembering Allah is to remember, recall and remind ourselves, to think about, to ponder over, to inspect and introspect what is it that God wants from us? How do we remember Him? How can we counter hatred, bloodshed, enmity, animosity? How do we make this world a better place for one and all?  Certainly, the obvious answer to all these questions is – through love, forgiveness, mercy, generosity, spreading goodness and kindness unlimited. Now, if you really look through these you will find, what is love, forgiveness ..., if not the very essence of Religion and God/Allah?!
      %p Thus, Remembering Allah is an endeavour to help remind people about this spirit of love by sharing lessons from stories of the prophets mentioned in the Quran; by researching and producing material on re-establishing one’s connection with his/her inherent nature of love; and hence, God. Look forward to our blog, videos, books and articles to know more.

%div{style:'background-color: #fff; padding: 3% 0;'}
  %h1{align:'center',style:'margin:-1% 3% 1% 3%;padding-bottom:25px;color:#002a60;font-weight:500;border-bottom: 5px dotted #002a60;'} HIGHLIGHTS
  .container.no_padding
    %h2{style: 'text-align:center; color:#0782C1;'} And verily, whosoever shows patience and forgives, that would truly be from the things recommended by Allah. [Qur'an 42:43]
    %br
  %div.container.boq_bg{align:'center'}
    %a.boq.img-responsive{href:'#', style:'padding:9%;font-size:8em;display:block;'} Breath of Quran
  %div.container.no_padding
    %h2{style: 'text-align:center; color:#0782C1;'} Then do they not reflect upon the Qur'an, or are there locks upon [their] hearts? [Qur'an 47:24]
    %br
    %div.row{style: 'text-align:center'}
      %div.col-md-4.col-xs-12
        %div.border
          %div.popping#opener1 Tawassum
      %div.col-md-4.col-xs-12
        %div.border
          %div.popping#opener2 Tadabbur
      %div.col-md-4.col-xs-12
        %div.border
          %div.popping#opener3 Tafakkur

%div
  #dialog1{:title => "TAWASSUM"}
    %p
      The word “Tawassum” means to ‘Mentally Reflect’ i.e. to think deeply or carefully about. It has been used in the Quran in
      %b (15:75) -
      “Surely in this are signs for those who reflect”. This verse has been used in context of reflecting on stories of the Prophets and drawing out lessons to be implemented in life. So “Tawassum” is the quality of a believer to learn lessons from history and past events.
    %p
      Allah says in
      %b (12:111) –
      “There is, in their stories, instruction for men endued with understanding. It is not a tale invented, but a confirmation of what went before it - a detailed exposition of all things, and a guide and a mercy to any such as believe”. So “Tawassum” is an essential requirement for becoming “Men of Understanding”.
    %p
      Allah says in
      %b (24:34) –
      “We have already sent down to you verses making things clear, an illustration from (the story of) people who passed away before you, and an admonition for those who fear (Allah i.e. are Muttaqeen)”. So “Tawassum” is the quality which the “Muttaqee” uses to draw lessons from the stories Allah has narrated to humanity.
    %p
      A believer must think deeply about history but how will he if he doesn’t read/study history? Therefore, studying history is a sign of being a good Muslim. A good Muslim studies not just the history mentioned in Quran but general history as well, in fact some of the best historians in the world made it their religious duty to travel, research and write books on history hearing verses like
      %b (40:82) –
      “Do they not travel through the earth and see what was the End of those before them?”. Ibn Khaldun a devout Muslim, who memorised the whole Quran to become “Haafiz-e-Quran”, devoted his life to the study of history to understand the human society and wrote books not just on history but philosophy of history. 20th-century English historian Arnold Toynbee has described Ibn Khaldun’s work as “a philosophy of history which is undoubtedly the greatest work of its kind that has ever yet been created by any mind in any time or place”. Robert Flint said about him “As a theorist on history he had no equal in any age or country until Vico appeared, more than three hundred years later. Plato, Aristotle and Augustine were not his peers . . . .”
    %p One who follows this path and nurtures “Tawassum” might even give birth to new body of knowledge, as research in one subject leads to new undiscovered subjects, Eg. Ibn Khaldūn’s examination of history and learning lessons from it led him to discover the nature of society and social change. It clearly was a new science, which he called ʿilm al-ʿumrān (“the science of culture” or sociology). Honing the skill of “Tawassum” is a religious duty for every true believer who is sincere to his faith and it is a quality that results in deep understanding of human nature and behavior, this understanding of human nature and behavior leads to true understanding and realisation of Allah.
    %p So, O Muslims Reflect! O Muslims Tawassum!

%div
  #dialog2{:title => "TADABBUR"}
    %p
      “Then do they not ponder (do tadabbur) upon the Qur'an, or are there locks upon [their] hearts?”
      %b .[Qur’an 47:24]
    %p “Tadabbur” is an Arabic word which means -To Ponder i.e. to think about (something) carefully, especially before making a decision or reaching a conclusion.
    %p
      This is an utmost important characteristic that every Muslim should have and if they don’t have then learn and nurture it, nurture it till their small seed of “Tadabbur” grows becoming a well grounded and wide spreading tree, giving shade and fruit to all who come to him/her. A believer needs to have his/her quality of “Tadabbur” to be very strong if he is sincere to Islam because Allah says that His intention behind revealing the Quran is that mankind may do “Tadabbur” i.e. pondering on Quran. “(This is) a Book (the Quran) which We have sent down to you, full of blessings that they may ponder over its Verses, and that men of understanding may remember”
      %b .[Qur’an 38:29].
    %p
      Tadabbur is comprehensive and deep thinking with the aim to reach to guidance hidden in a statement or event. It is not enough to learn the Qur’an and recite it profusely. What is required from us is to ponder on what Allah is communicating through it, what He is teaching us through it, for this one needs to look into the meaning of the words/ayats and meditate on it. Quranic meditation is not about killing your thoughts but clarifying your thoughts by focussing on your thought and analysing it from every possible angle within dimensions of reality and come to the best conclusion. Allah is actually promoting  exactly this in “Will they not, then, try to Ponder on this Qur’an? Had it issued from any but God, they would surely have found in it many an inner contradiction!” –
      %b (4:82).
      “Do they not ponder over the Word (of Allah, or has anything (new) come to them that did not come to their fathers of old?” –
      %b (23:68).
    %p “Tadabbur” is the quality to understand what is really being said or taught. One who has this quality strong in him is not only able to understand instantly what others are communicating but also is able to himself communicate effectively. If the quality of one’s “Tadabbur” is still  stronger, then one may even understand things which someone is about to say but has not “yet” said. It is this very ability that enables one to see the “Zaahir” (manifest) as well as “Baatin” (Hidden) of Quran because Allah stops but the reader’s heart keeps hearing what is “yet” to be said.
    %p We have seen that Tawassum is the quality related to understanding of human behavior and “Tafakkur” is a quality related to understanding Science. “Tadabbur” is the quality related to understanding communication. On these different kinds of understanding we build true understanding and realisation of Allah our Creator. For how can The Creator be understood if not through creation?
    %p So O Muslims Ponder! O Muslims Tadabbur!

%div
  #dialog3{:title => "TAFAKKUR"}
    %p “Tafakkur” is an arabic word which means to contemplate i.e. to think deeply and at length.
    %p
      Allah tells one of the qualities of a sincere and true believer is to do “Tafakkur” about the creation of everything around him/her.  “In the creation of the heavens and the earth, and in the succession of night and day, there are indeed signs for men of understanding; those that remember God when standing, sitting, and lying down, and contemplate on the creation of the heavens and the earth (saying): ‘Lord, You have not created these in vain. Glory be to You! Save us from the torment of the fire, Lord.”
      %b (3:190-191).
      Allah tells that a sign of being a believer is not just to pray to be protected from hell but rather to gain knowledge of the creation of heavens and earth (i.e. universe) and contemplate on that knowledge. It is this knowledge which will lead a believer to be sure in faith and seek forgiveness from Allah. You cannot think about the universe standing, sitting and lying down if you have no knowledge of the universe and if you are not devoted to science. Can you? No.
    %p So true teachers like Imam Jafar-as-Sadiq (on whom every muslim sends durood as he is from the children of Prophet pbuh) taught his students that the study of science is a way to perfection of faith. Thus, one of his students “Geber” i.e. Jabir Ibn Hayyan after this teaching is known to the world as “Father of chemistry” (*along with late 18th century chemist Antoine Lavoisier). ‘Geber’ or Jabir  established chemistry as an independent branch of science in 8th century by being one of the first to engage in experiments and discovering distillation, filtration, crystallisation, sublimation, reaction and fixation which all students of chemistry take for granted as standard procedures today. This father of chemistry loved maths, astronomy, engineering, geography, physics, pharmacy etc. and considered all of them spiritual sciences i.e. sciences which increases spirituality.
    %p
      Believers like Jabir are true witnesses to the verse of Quran “And He has made subservient to you, [as a gift] from Himself, all that is in the heavens and on earth: in this, behold, there are messages indeed for people who contemplate!” –
      %b (45:13).
    %p
      Quran is full of verses which call its readers to do “Tafakkur” “And it is He who has spread the earth wide and placed on it firm mountains and running waters, and created thereon two sexes of every [kind of] plant; [and it is He who] causes the night to cover the day. Verily, in all this there are messages indeed for people who contemplate! –
      %b (13:3).
      Allah says “[and] by virtue thereof He causes crops to grow for you, and olive trees, and date palms, and grapes, and all [other] kinds of fruit: in this, behold, there is a message indeed for people who contemplate!
      %b (16:11).
    %p Scientist discovers the “How”? And only after that “How?” one comes to “Why?” i.e. the message behind it. Though tafakkur is related to science but its purpose is not to stop at science but to reach to Allah through science i.e. it covers both the “How?” and the “Why?”
    %p
      Just as astronomy aims to discover relationships between stars and planets there is another science, the science which helps to discover the connections within the Quran. On this Allah says “Had We bestowed this Qur’an from on high upon a mountain, thou wouldst indeed see it humbling itself, breaking asunder for awe of God. And [all] such parables We propound unto men, so that they might [learn to] contemplate”
      %b (59:21).
      Only a scientific mind can contemplate that Haabil was a mountain and not Qaabil, that Prophet (pbuh) was stronger and not the people of Taif, that truly whenever the mission of Allah has been put on a mountain it crumbles in the remembrance of Allah.
    %p "No act of worship is as meritorious as contemplation. So reflect on the God's bounties and the works of His Power" - (al-Mu’jam al-Awsaṭ 6489. Grade Hasan according to Al-Tabarani and Al-Albani)
    %p So, O Muslims Contemplate! O Muslims Tafakkur!

%div.container-fuild{style:'background-color: #fafafa;padding-bottom: 20px;'}
  %div{align:'center'}
    %h2.blue{style:'padding:25px 0 20px 0; font-family:cursive;'} Breath of Quran Highlights
  %div.container-fluid.articles_class_css.mobile_view_w_100
    %div.row
      - @recent_boq.reverse.each do |article|
        %div.col-md-4.col-xs-12
          .panel.panel-default
            .panel-heading
              %h4.single_line
                =link_to truncate(article.title, :length => 100), article
              %hr
              %p.date= article.created_at.strftime("%B %d, %Y")
            .panel-body
              .row
                .col-sm-5.image_center
                  = image_tag article.image.url(:thumb), class:'img-responsive thumbnail no_bottom'
                .col-sm-7
                  %p.justify= truncate(article.short_description, :length => 250)
  %div{align:'right'}
    - if can? :edit, CoreArticle
      = link_to 'Edit Highlights,', manage_boq_highlights_path, style:'margin-right: 22px; font-size: 1.65em;'
    = link_to '... see more->', core_articles_path, style:'margin-right: 22px; font-size: 1.65em;'

%div.container-fuild{style:'background-color: #fff;margin-top: -20px;padding-bottom:20px;'}
  %div{align:'center'}
    %h2.blue{style:'padding:25px 0 20px 0; font-family:cursive;'} Blog Highlights
  %div.container-fluid.articles_class_css.mobile_view_w_100
    %div.row
      - @recent_posts.reverse.each do |article|
        %div.col-md-4.col-xs-12
          .panel.panel-default
            .panel-heading
              %h4.single_line
                =link_to truncate(article.title, :length => 100), article
              %hr
              %p.date= article.created_at.strftime("%B %d, %Y")
            .panel-body
              .row
                .col-sm-5.image_center
                  = image_tag article.image.url(:thumb), class:'img-responsive thumbnail no_bottom'
                .col-sm-7
                  %p.justify= truncate(article.short_description, :length => 250)
  %div{align:'right'}
    - if can? :edit, Post
      = link_to 'Edit Highlights,', manage_post_highlights_path, style:'margin-right: 22px; font-size: 1.65em;'
    = link_to '... see more->', posts_path, style:'margin-right: 22px; font-size: 1.65em;'

%div.container-fuild{style:'background-color: #fafafa;padding-bottom:20px;padding-top:1px;'}
  %div{align:'center'}
    %h2.blue{style:'padding:9px 0 20px 0; font-family:cursive;'} Video Highlights
  %div.container-fluid.articles_class_css.mobile_view_w_100
    %div.row
      - @recent_videos.each do |video|
        .col-sm-4.col-xs-12.mobile_view_w_100_r
          .panel.panel-default
            .panel-heading
              .embed-responsive.embed-responsive-16by9
                %iframe.embed-responsive-item{:src => "https://www.youtube.com/embed/#{video.url[32..42]}"}
                %a.the-click{:href => video_path(video)}
            .panel-body.video_text_spacing
              %h4.single_line= truncate(video.title, :length => 70)
              %hr
              %p.date= video.created_at.strftime("%B %d, %Y")
  %div{align:'right'}
    - if can? :edit, Video
      = link_to 'Edit Highlights,', manage_video_highlights_path, style:'margin-right: 22px; font-size: 1.65em;'
    = link_to '... see more->', videos_path, style:'margin-right: 22px; font-size: 1.65em;'

%div.container-fuild{style:'background-color: #fff;margin-top: -20px;'}
  %div{align:'center'}
    %h2.blue{style:'padding:25px 0 20px 0; font-family:cursive;'} Wisdom Corner Highlights
  %div.container-fluid.articles_class_css.mobile_view_w_100
    %div.row
      - @recent_wisdoms.reverse.each do |article|
        %div.col-md-4.col-xs-12
          .panel.panel-default
            .panel-heading
              %h4.single_line
                =link_to truncate(article.title, :length => 100), article
              %hr
              %p.date= article.created_at.strftime("%B %d, %Y")
            .panel-body
              .row
                .col-sm-5.image_center
                  = image_tag article.image.url(:thumb), class:'img-responsive thumbnail no_bottom'
                .col-sm-7
                  %p.justify= truncate(article.short_description, :length => 250)
  %div{align:'right'}
    - if can? :edit, Wisdom
      = link_to 'Edit Highlights,', manage_wisdom_highlights_path, style:'margin-right: 22px; font-size: 1.65em;'
    = link_to '... see more->', wisdoms_path, style:'margin-right: 22px; font-size: 1.65em;'

= render 'testimonials/index.html.haml'

%div.footer
  %div.container
    %div.row{style: 'text-align:center'}
      %div.col-md-3.col-xs-12
        %div.footer_widget{style:'text-align:center'}
          %h3.blue{align:'left'} Social Media
          %a{:href => "https://www.facebook.com", target:'_blank', class:'btn btn-default facebook', style:"width:100%; font-size:1.4em; margin:3% 0%; background-color:#3b5998; color:white;"}
            %i.fa.fa-facebook{"aria-hidden" => "true"} &nbsp;Join us @ Facebook

          %a{:href => "https://plus.google.com", target:'_blank', class:'btn btn-default google', style:"width:100%; font-size:1.4em;margin:3% 0%; background-color:#f54337; color:white; "}
            %i.fa.fa-google{"aria-hidden" => "true"} &nbsp;Join us @ Google Plus

          %a{:href => "https://twitter.com", target:'_blank', class:'btn btn-default twitter', style:"width:100%; font-size:1.4em;margin:3% 0%; background-color:#1da1f2; color:white; "}
            %i.fa.fa-twitter{"aria-hidden" => "true"} &nbsp;Join us @ Twitter


      %div.col-md-3.col-xs-12
        %div.footer_widget
          %h3.blue{align:'left'} Tags
          %div.tagcloud{style:'padding-top:2%;'}
            %a{:href => "#islamic"} islamic
            %a{:href => "#kalma"} Kalma
            %a{:href => "#mosque"} Mosque
            %a{:href => "#namaz"} Namaz
            %a{:href => "#people"} people
            %a{:href => "#project"} Project
            %a{:href => "#quran"} Quran
            %a{:href => "#rights"} Rights
            %a{:href => "#salat"} Salat
            %a{:href => "#zakat"} Zakat

      %div.col-md-3.col-xs-12{align:'left'}
        %h3.blue Quick Links
        %ul.quick_links#quick_l{style:'margin-left:-10%;'}

          -@q_links.each do |q_link|
            %li
              %a{:href => q_link.body}
                %span.fa.fa-arrow-right
                = q_link.name
          %br
          = link_to 'Edit', quick_links_path, class:'btn btn-default'
      %div.col-md-3.col-xs-12{align:'left'}
        %h3.blue Contact Us
        %ul.quick_links#address{style:'margin-left:-10%;'}
          %li
            %a{:href => "#"}
              The Church Branch, 123 Lorem Ipsum Avenue, New York United States, 012345
          %li
            %a{:href => "#"}
              %i.fa.fa-phone
              0123 456 7890
          %li
            %a{:href => "#"}
              %i.fa.fa-fax
              0123 456 7890
          %li
            %a{:href => "#"}
              %i.fa.fa-envelope-o
              info@churchmosque.com
          %li
            %a{:href => "#"}
              %i.fa.fa-globe
              www.churchmosque.com

:javascript
  $( "#dialog1, #dialog2, #dialog3" ).dialog({
    autoOpen: false,
    modal:true,
    show: {
      effect: "blind",
      duration: 1000
    },
    hide: {
      effect: "explode",
      duration: 1000
    },
    maxWidth:800,
    width: $(window).width() > 600 ? 700 : 320,
    fluid:true
  });

  function set_css(){
    $('.ui-widget-overlay').css('background', '#000');
    $('.ui-widget-overlay').css('opacity', '.8');
  }

  $( "#opener1" ).on( "click", function() {
    $("#dialog1").dialog();
    $( "#dialog1" ).dialog( "open" );
    set_css();
  });
  $( "#opener2" ).on( "click", function() {
    $("#dialog2").dialog();
    $( "#dialog2" ).dialog( "open" );
    set_css();
  });
  $( "#opener3" ).on( "click", function() {
    $("#dialog3").dialog();
    $( "#dialog3" ).dialog( "open" );
    set_css();
  });

:css
  #dialog { /* set all these in set_css function if required */
   border: 1px solid #ccc;
   border-radius: 4px;
   padding: 10px;
   overflow: auto;
   max-height: 300px !important;
  }​

  @media (max-width: 991px) {
    .video{

    }
  }

  .border{
    border: 4px solid #0782C1;
    color: #0782C1;
    margin: 1% 0%;
  }
  .popping{
    cursor: pointer;
    padding: 18%;
    background-color: #f5f5f5;
    font-size: 3em;
  }

  .popover{
    color: #333;
    max-width: 400px;
  }
  h2{
    color: #fff;
  }

  .border:hover{
    border: 4px solid #000;
    color: #000;
  }

   @media (max-width: 608px) {
      .boq_bg{
        background-image: url(/assets/boqm.png) !important;
      }
   }

  .boq_bg{
    background-image: url(/assets/boq.png);
    background-size:cover;
    margin-bottom:2%;
    padding: 0% !important;
  }

  .footer{
    padding: 2% 0%;
    /*background-image: url(/assets/contact_bg.jpg);*/
  }
  ul{
    list-style: none;
  }
  .quick_links li {
    border-bottom: 1px solid #563a3a;
    line-height: 36px;
  }
  .footer_widget .tagcloud a {
    /*background-color: #f6f3e7;*/
    border: 1px solid #000;
    border-radius: 20px;
    color: #000;
    float: left;
    font-family: "Lato",sans-serif;
    font-size: 14px!important;
    font-weight: 400;
    line-height: 14px;
    margin: 0 10px 10px 0;
    padding: 9px 15px;
    text-decoration: none;
  }
  .footer_widget .tagcloud a:hover {
    background-color: #000;
    color: #fff;
  }
  .quick_links a{
    color: #000 !important;
  }
  #quick_l a:hover{
    font-weight: bold;
  }
  #address a:hover{
    cursor: default;
  }
  a:hover{
    background-color: transparent;
    text-decoration: none;
  }

  .carousel-control{
    opacity: 0.1;
  }
  .carousel-control:hover{
    opacity: 0.1;
  }

