%div.row
  %div.col-sm-2{style:'background-color: #f9f0e7;height:100vh; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);'}
    %ul.nav.nav-pills.nav-stacked{style:'margin:5% 0% 0% 5%;'}
      %li= link_to 'All Gems', wisdoms_path, class:'nav_btn'
      - Category.where(section:'Wisdom').each do |cat|
        %li= link_to cat.name, wisdoms_path(category_id: cat.id), class:'nav_btn'
      %br
      = link_to 'Add Category', categories_path, class:'nav_btn'


  %div.col-sm-10
    #post_content.container
      %h1.title= @content.title
      %p.date
        Submitted #{time_ago_in_words(@content.created_at)} Ago By
        %strong= @content.user.name
      %hr
      %p.body= @content.body.to_s.html_safe
      .btn-group.pull-right
        = link_to like_wisdom_path(@content), method: :put, class: "btn btn-default" do
          %span.glyphicon.glyphicon-heart
          = @content.get_upvotes.size
        - if user_signed_in?
          =link_to 'Edit', edit_wisdom_path(@content),class:'btn btn-default'
          =link_to 'Delete', wisdom_path(@content), method: :delete, data: { confirm: 'Are you sure?' }, class:'btn btn-default'

:css

  a:hover {
    color: #fff;
    text-decoration: none;
    background-color: rgba(245, 238, 238, 0.58);
  }

  p.body {
    padding-top: 2%;
  }

  hr{
    margin: 0px;
  }

  .nav_btn{
    display: block;
    padding: 4%;
    color: #442525;
    font-size: 1.5em;
    border-bottom: 1px solid #e0d8cf;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #f9f0e7;
  }

  .nav-pills > li > a{
    border-radius: 0px;
  }

  .nav-pills > li > a:hover{
    background-color: #442525;
  }