<%= form_for @post do |f| %>
    <% if @post.errors.any? %>
        <div id="errors">
          <h2><%= pluralize(@post.errors.count, "error") %> prevented this post from saving:</h2>
          <ul>
            <% @post.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <%= f.label :title %><br>
    <%= f.text_area :title, rows:'3' %><br>
    <br>
    <%= f.label :body %><br>
    <%= f.text_area :body, rows:'10' %><br>

    <br>
    <%= f.collection_select :category_id, Category.where(section:'Article'), :id, :name %>
    <br>
    <br>
    <%= f.submit class:'btn btn-default' %>
<% end %>

<style>
    textarea {
        width: 100%;
        padding: 1.5%;
    }
    select{
        padding: .6% 2%;
        border-radius: 5%;
        font-size: 1.3em;
    }
    select option{
        font-size: 1.3em;
    }
</style>