<%= form_for @post do |f| %>
    <% if @post.errors.any? %>
        <div id="errors">
          <h2><%= pluralize(@post.errors.count, "error") %> prevented this post from saving:</h2>
          <ul>
            <% @post.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <%= f.label :title %><br>
    <%= f.text_area :title, rows:'3', required:true %>

    <br>
    <br>
    <p><b>Short Description for Index Page</b> (At max 300 Characters)</p>
    <%= f.text_area :short_description, rows:'5', maxlength:'500', required:true %>
    <br>
    <br>
    <p><b>Picture for Index Page</b></p>
    <%= f.file_field :image %>

    <% if @post.image? %>
      <div>
        <%= image_tag @post.public_id,  class:'img-responsive thumbnail', style:'margin-bottom:0%;' %>
      </div>
    <% end %>

    <br>
    <%= f.label :body %><br>

    <%= f.cktext_area :body, :class => "form-control", required:true, :ckeditor => {:toolbar => 'Full'} %>
    <br>
    <%= f.text_field :rank, placeholder:'Rank (Any Integer)', class:'url', required:true %>
    <br>
    <br>
    <p><b>Choose Category</b></p>
    <%= f.collection_select :category_id, Category.where(section:'Article'), :id, :name %>
    <br>
    <br>
    <%= f.submit class:'btn btn-default' %>
<% end %>

<style>
    textarea {
        width: 100%;
        padding: 1.5%;
    }
    select{
        padding: .6% 2%;
        border-radius: 5%;
        font-size: 1.3em;
    }
    select option{
        font-size: 1.3em;
    }
</style>