%div.articles_class_css
  %div.sidenav#mysidenav{style:'background-color: #f4f5f5; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);'}
    %ul.nav.nav-pills.nav-stacked
      %li= link_to 'All Posts', posts_path, class:'nav_btn'
      - Category.where(section:'Article').order('rank').each do |cat|
        %li= link_to cat.name, posts_path(category_id: cat.id), class:'nav_btn'
      - if can? :create, Category
        %br
        = link_to 'Add Category', categories_path, class:'nav_btn'

  %div#main
    %div.row
      %div.col-md-2.col-sm-4.hidden-xs{style:'margin-top:0.8%;background-color: #f4f5f5; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);'}
        %ul.nav.nav-pills.nav-stacked{style:'padding-top:5%;'}
          %li= link_to 'All Posts', posts_path, class:'nav_btn'
          - Category.where(section:'Article').order('rank').each do |cat|
            %li= link_to cat.name, posts_path(category_id: cat.id), class:'nav_btn'
          %br
          - if can? :create, Category
            = link_to 'Add Category', categories_path, class:'nav_btn', style:'margin-bottom:8%;'


      %div.col-md-10.col-sm-8.col-xs-12
        %div.visible-xs
          %span{:style => "font-size:30px;cursor:pointer", id:'ooo'} ☰
          %span{:style => "font-size:40px;cursor:pointer;display:none;", id:'ccc'} &times;
        #post_content.container
          %h1.title= @content.title
          %p.date
            Submitted #{time_ago_in_words(@content.created_at)} Ago By
            %strong= @content.user.name
          %hr
          %p.body= @content.body.to_s.html_safe
          .btn-group.pull-right
            = link_to like_post_path(@content), method: :put, class: "btn btn-default" do
              %span.glyphicon.glyphicon-heart
              = @content.get_upvotes.size
            - if can? :edit, @content
              =link_to 'Edit', edit_post_path(@content),class:'btn btn-default'
              =link_to 'Delete', post_path(@content), method: :delete, data: { confirm: 'Are you sure?' }, class:'btn btn-default'
          #comments
            %h2
              = @content.comments.count
              Comments
            = render @content.comments
            %h3 Add a comment:
            = render "comments/form"