%div.container
  %div
    - if can? :create, Gallery
      = link_to 'New Gallery', new_gallery_path, class:'btn btn-default pull-right', style:'margin:1.7%;'
      %br
      %br

  - @galleries.each do |gallery|
    %div.container#post_content{style:'margin-top:2%;background-color: #f4f5f5; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);'}
      %h1.justify.title= gallery.title
      %p.date= gallery.event_date
      %hr
      %p.justify.body= gallery.body
      %hr
      .row
        - gallery.pics.each do |pic|
          .col-sm-3
            = image_tag pic.public_id,  class:'img-responsive thumbnail zoom', alt:"#{pic.image_file_name}"

      .btn-group.pull-right
        - if can? :edit, gallery
          = link_to 'Show', gallery, class:'btn btn-default'
          =link_to 'Edit', edit_gallery_path(gallery),class:'btn btn-default'
          =link_to 'Delete', gallery_path(gallery), method: :delete, data: { confirm: 'Are you sure?' }, class:'btn btn-default'
        %br
        %br
        %br
#myModal.modal
  %span.close ×
  %img#img01.modal-content{style:'margin-top:5%;'}
  #caption

:javascript
      // Get the modal
      var modal = document.getElementById('myModal');

      // Get the image and insert it inside the modal - use its "alt" text as a caption
      var images = document.getElementsByClassName('zoom');
      var modalImg = document.getElementById("img01");
      var captionText = document.getElementById("caption");

      for (var i=0; i < images.length; i++) {
        images[i].onclick = function(){
          modal.style.display = "block";
          modalImg.src = this.src;
          captionText.innerHTML = this.alt;
        }
      };

      // Get the <span> element that closes the modal
      var span = document.getElementsByClassName("close")[0];

      // When the user clicks on <span> (x), close the modal
      span.onclick = function() {
          modal.style.display = "none";
      }

:css
  .zoom{
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }

  .zoom:hover{
    opacity: 0.7;
  }

  /* The Modal (background) */
  .modal {
      display: none; /* Hidden by default */
      position: fixed; /* Stay in place */
      z-index: 1; /* Sit on top */
      padding-top: 100px; /* Location of the box */
      left: 0;
      top: 0;
      width: 100%; /* Full width */
      height: 100%; /* Full height */
      overflow: auto; /* Enable scroll if needed */
      background-color: rgb(0,0,0); /* Fallback color */
      background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  }

  /* Modal Content (image) */
  .modal-content {
      margin: auto;
      display: block;
      width: 80%;
      max-width: 700px;
  }

  /* Caption of Modal Image */
  #caption {
      margin: auto;
      display: block;
      width: 80%;
      max-width: 700px;
      text-align: center;
      color: #ccc;
      padding: 10px 0;
      height: 150px;
  }

  /* Add Animation */
  .modal-content, #caption {
      -webkit-animation-name: zoom;
      -webkit-animation-duration: 0.6s;
      animation-name: zoom;
      animation-duration: 0.6s;
  }

  @-webkit-keyframes zoom {
      from {-webkit-transform:scale(0)}
      to {-webkit-transform:scale(1)}
  }

  @keyframes zoom {
      from {transform:scale(0)}
      to {transform:scale(1)}
  }

  /* The Close Button */
  .close {
      position: absolute;
      top: 12%;
      right: 10%;
      color: #f1f1f1;
      font-size: 40px;
      font-weight: bold;
      transition: 0.3s;
  }

  .close:hover,
  .close:focus {
      color: #bbb;
      text-decoration: none;
      cursor: pointer;
  }

  /* 100% Image Width on Smaller Screens */
  @media only screen and (max-width: 700px){
      .modal-content {
          width: 100%;
      }
  }