<%= simple_form_for(@category) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">


    <%= f.text_field :name, placeholder:'Name', style:'padding:.6%;' %><br><br>
    <%= f.text_field :rank, placeholder:'Rank', style:'padding:.6%;' %><br>
    <br>
    <%= f.select :section, options_for_select([['article' ,'Article'], ['wisdom', 'Wisdom'], ['video', 'Video'], ['audio', 'Audio']]),{}, style:'padding:1.3% 6%;' %>
    <br>
  </div>
<br>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
