%div.testimonial_div{style:'background:#232323;'}
  - ts = Testimonial.all.order('rank')
  - @testi_first = ts.first
  -  @testimonials = Testimonial.where("id != ?", @testi_first.id).order('rank')
  %div#myCarousel_tes.carousel.slide{"data-ride" => "carousel"}
    %ol.carousel-indicators
      %li.active{"data-slide-to" => "0", "data-target" => "#myCarousel_tes"}
      - @testimonials.count.times do |i|
        %li{"data-slide-to" => i+1, "data-target" => "#myCarousel_tes"}

    .carousel-inner
      .item.active
        %row
          %col-md-10.col-md-offset-1.col-sm-12
            %blockquote.blockquote-reverse
              %p.sss=@testi_first.body.to_s.html_safe
              %footer.pull-right{style:'padding:0 12%;'}
                %p.reviewer=@testi_first.name
                %p.qua=@testi_first.profession
            -#%p.testimonial=@testi_first.body
            -#%div.row{style:'padding-top:4%;'}
            -#  %div.col-sm-3
            -#    = image_tag @testi_first.image.url(:thumb), style:'height:120px; width:150px;', class:'img-circle'
            -#  %div.col-sm-9
            -#    %p.reviewer=@testi_first.name
            -#    %p=@testi_first.profession
        %row
          %col-md-offset-2.col-md-8.col-md-offset-2{align:'center', style:'padding-bottom:5%;'}
            - if can? :edit, @testi_first
              = link_to 'Edit', edit_testimonial_path(@testi_first), class:'btn btn-default'
              = link_to 'Destroy', @testi_first, method: :delete, data: { confirm: 'Are you sure?' }, class:'btn btn-default'
              = link_to 'Add New Testimonial', new_testimonial_path, class:'btn btn-default'
      - @testimonials.each do |testimonial|
        .item
          %row
            %col-md-10.col-md-offset-1.col-sm-12
              %blockquote.blockquote-reverse
                %p.more.sss=testimonial.body.to_s.html_safe
                %footer.pull-right
                  %p.reviewer=testimonial.name
                  %p.qua=testimonial.profession
          %row
            %col-md-offset-2.col-md-8.col-md-offset-2{align:'center', style:'padding-bottom:5%;'}
              - if can? :edit, testimonial
                = link_to 'Edit', edit_testimonial_path(testimonial), class:'btn btn-default'
                = link_to 'Destroy', testimonial, method: :delete, data: { confirm: 'Are you sure?' }, class:'btn btn-default'
                = link_to 'Add New Testimonial', new_testimonial_path, class:'btn btn-default'


    %a.left.carousel-control{"data-slide" => "prev", :href => "#myCarousel_tes"}
      %span.glyphicon.glyphicon-chevron-left.white
      %span.sr-only Previous
    %a.right.carousel-control{"data-slide" => "next", :href => "#myCarousel_tes"}
      %span.glyphicon.glyphicon-chevron-right.white
      %span.sr-only Next

:css
  .morecontent span {
    display: none;
  }
  .morelink {
    display: inline;
  }

:javascript
  $(document).ready(function() {
    // Configure/customize these variables.
    var showChar = 600;  // How many characters are shown by default
    var ellipsestext = "...";
    var moretext = "Show more >";
    var lesstext = "Show less";


    $('.more').each(function() {
        var content = $(this).html();

        if(content.length > showChar) {

            var c = content.substr(0, showChar);
            var h = content.substr(showChar, content.length - showChar);

            var html = c + '<span class="moreellipses">' + ellipsestext+ '&nbsp;</span><span class="morecontent"><span>' + h + '</span>&nbsp;&nbsp;<a href="" class="morelink">' + moretext + '</a></span>';

            $(this).html(html);
        }

    });

    $(".morelink").click(function(){
        if($(this).hasClass("less")) {
            $(this).removeClass("less");
            $(this).html(moretext);
        } else {
            $(this).addClass("less");
            $(this).html(lesstext);
        }
        $(this).parent().prev().toggle();
        $(this).prev().toggle();
        return false;
    });
  });