!!! 5
%html
%head
  %title Remembering Allah
  = favicon_link_tag 'favicon.ico'
  = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
  = javascript_include_tag 'application', 'data-turbolinks-track' => false
  = csrf_meta_tags
  %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}
  %link{:href => "http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css", :rel => "stylesheet", :type => "text/css"}


%body{style:"margin:75px 0px;min-height:100%;"}
  %nav.navbar.navbar-inverse.navbar-fixed-top{style:'background-color:#000;'}
    .container-fluid.collapse_early
      .navbar-header
        %button.navbar-toggle{"data-target" => "#myNavbar", "data-toggle" => "collapse", :type => "button"}
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        .visible-lg
          = link_to image_tag('logo_big.png'), root_path
        .hidden-lg
          = link_to image_tag('logo_small.png'), root_path
      #myNavbar.collapse.navbar-collapse.lis{style:'padding-top:0.9%'}
        %ul.nav.navbar-nav.navbar-right
          %li
            %a{:href => root_path}Home
          %li.dropdown#open1
            %a.dropbtn{style:'background-color:#000;'}
              About Us
              %span.caret
            .dropdown-content#close1
              %a{:href => who_we_are_path} Who we Are
              %a{:href => galleries_path} Gallery
              %a{:href => publications_path} Publications
              %a{:href => contact_us_path} Contact Us
          %li
            %a{:href => core_articles_path}Breath of Quran
          %li
            %a{:href => posts_path}Blog
          %li.dropdown#open3
            %a.dropbtn{style:'background-color:#000;'}
              Media
              %span.caret
            .dropdown-content#close3
              %a{:href => videos_path}Videos
              %a{:href => audios_path} Audio
          %li
            %a{:href => wisdoms_path}Wisdom Corner
          - if user_signed_in?
            - if current_user.admin?
              %li.dropdown#open2
                %a.dropbtn{style:'background-color:#000;'}
                  Admin Zone
                  %span.caret
                .dropdown-content#close2
                  %a{:href => manage_users_path} Manage Users
                  %a{:href => categories_path} Create New Category
                  %a{:href => new_core_article_path} Add Breath of Quran
                  %a{:href => new_post_path} Add Blog
                  %a{:href => new_video_path} Add Video
                  %a{:href => new_audio_path} Add Audio
                  %a{:href => new_wisdom_path} Add Wisdom Corner
                  %a{:href => edit_user_registration_path} My Account
                  %a{:href => destroy_user_session_path, method: :get} Log Out
            - else
              %li.dropdown#open3
                %a.dropbtn{style:'background-color:#000;'}
                  = current_user.name
                  %span.caret
                .dropdown-content#close3
                  %a{:href => edit_user_registration_path} My Account
                  %a{:href => destroy_user_session_path, "data-method"=> :get} Log Out
          - else
            %li= link_to "Sign In", new_user_session_path

  .container
    - flash.each do |name, msg|
      = content_tag :div, msg, class: "alert alert-info"
  = yield

  %footer{style:'background: #000;padding: 2rem 0; color: white;text-align: center;clear: both;left:0;bottom:0;position:absolute;width:100%;z-index: 10; height: 60px;'}
    %p &copy; 2017 Ra. All Rights Reserved.

:css
  .navbar-nav > li > a {
    font-size: 1.5em;
  }

  .navbar {
    border-radius: 0px !important;
    margin-bottom: 0px;
  }
  html {
    position:relative;
    min-height: 100%;
  }

  .alert{
    margin-bottom: 0% !important;
  }

:javascript
    $(document).ready(function(){
      $('#n_left').css('display', '-webkit-box');
      $('#n_left').css('display', 'block');
      $('#open1').click(function(){
        $('#close1').toggle();
      });
      $('#open2').click(function(){
        $('#close2').toggle();
      });

    });