!!! 5
%html
%head
  %title Ra
  = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
  = javascript_include_tag 'application', 'data-turbolinks-track' => true
  = csrf_meta_tags
  %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}
  %link{:href => "http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css", :rel => "stylesheet", :type => "text/css"}


%body{style:"margin:75px 0px;min-height:100%;"}
  %nav.navbar.navbar-inverse.navbar-fixed-top{style:'background-color:#000;'}
    .container-fluid.collapse_early
      .navbar-header
        %button.navbar-toggle{"data-target" => "#myNavbar", "data-toggle" => "collapse", :type => "button"}
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        .visible-lg
          = link_to image_tag('logo_big.png'), root_path
        .hidden-lg
          = link_to image_tag('logo_small.png'), root_path
      #myNavbar.collapse.navbar-collapse{style:'padding-top:0.9%'}
        %div
          %ul.nav.navbar-nav.navbar-right
            %li
              %a{:href => root_path}Home
            %li.dropdown
              %a.dropbtn{style:'background-color:#000;'}
                About Us
                %span.caret
              .dropdown-content
                %a{:href => who_we_are_path} Who we Are
                %a{:href => galleries_path} Gallery
                %a{:href => publications_path} Publications
            %li
              %a{:href => core_articles_path}Breath of Quran
            %li
              %a{:href => posts_path}Blog
            %li
              %a{:href => videos_path}Videos
            %li
              %a{:href => wisdoms_path}Wisdom Corner
            - if user_signed_in?
              %li= link_to "My Account", edit_user_registration_path
              %li= link_to "Log Out", destroy_user_session_path, method: :delete
            - else
              %li= link_to "Sign In", new_user_session_path
            %li
              %a{:href => contact_us_path}Contact Us

  -#.container
  -#  - flash.each do |name, msg|
  -#    = content_tag :div, msg, class: "alert alert-info"
  = yield

  %footer{style:'background: #000;padding: 2rem 0; color: white;text-align: center;clear: both;left:0;bottom:0;position:absolute;width:100%;z-index: 10; height: 60px;'}
    %p &copy; 2017 Ra. All Rights Reserved.

:css
  .navbar-nav > li > a {
    font-size: 1.5em;
  }
  .navbar {
    border-radius: 0px !important;
    margin-bottom: 0px;
  }
  html {
    position:relative;
    min-height: 100%;
  }

:javascript
    $(document).ready(function(){
      $('#n_left').css('display', '-webkit-box');
      $('#n_left').css('display', 'block');
    });